*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html{
    background-color: #0d1a2d;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}
.cntnr{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    height: 597px;
    width: 350px;
    border-radius: 18px;
    overflow: hidden;
    background-color: #15273f;
    box-shadow: 0px -1px 35px 13px rgba(0,0,0,0.49);
    -webkit-box-shadow: 0px -1px 35px 13px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px -1px 35px 13px rgba(0,0,0,0.49);
}
.img-cntnr{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 305px;
    height: 302px;
    border-radius: 16px;
    margin-bottom: 11px;
    position: relative;
}
.view-icn{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px;
    height: 302px;
    background-color: #00fffb79;
    z-index: 1;
    width: 305px;
    height: 302px;
    border-radius: 16px;
    position: absolute;
}
.view-icn:hover{   
    animation: ease-in-out;
    transition-delay: .14s;
    opacity: 1;
}
.img{
    display: block;
    overflow: hidden;
    width: 305px;
    height: 302px;
    border-radius: 16px;
}
.img img{
    width: 100%;
    height: 100%;
}
.hdr{
    display: block;
    color: #fff;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-align: start;
    padding: 10px;
}
.hdr:hover{
    animation: ease-in-out;
    transition-delay: .24s;
    color: #00fffc;
}
.sbtxt{
    font-size: 18px;
    color: #94abcd;
    padding: 10px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}
.eth{
    display: flex;
    align-items: center;
    color: #00fffc;
}
.eth span{
    padding: 0px 7px 0px;
}
.tme{
    display: flex;
    align-items: center;
}
.tme span{
    padding: 0px 7px 0px;
}
.tme span:hover{
    animation: ease-in-out;
    transition-delay: .24s;
    color: #00fffc;
}
.line{
    display: flex;
    align-items: center;
    border-radius: 1.5px;
    overflow: hidden;
    width: 100%;
    height: 1.5px; 
    padding: 10px;
}
.line-1{
    width: 100%;
    height: 100%;
    border-radius: 1.5px;
    padding: 1.5px;
    background-color: #2f4159;
    overflow: hidden;
}
.crtr{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.avtr{
    width: 34px;
    height: 34px;
}
.avtr img{
    border: 1px solid #fff;
    border-radius: 34px;
    height: 100%;
    width: 100%;
}
.txt{
    padding: 0px 3px 0px 11px;
    color: #9bb2d1;
}
.usrnme{
    padding: 0px 3px 0px;
    color: #fff;
    font-weight: 700;
}
.usrnme:hover{
    animation: ease-in-out;
    transition-delay: .24s;
    color: #00fffc;
}